*{
    font-family: 'Poppins';
}
.header{
    
    grid-area: header;
    background-color: #E1CB3D;
  
    grid-template-columns: 900px 800px 900px;
   
    grid-template-areas: 'header header header';
 
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items:end;
    justify-content: end;
    /*define a quebra de linha para caber as coisas do menu */
}
.header nav a{
    display: block;
    padding: 10px;
    color: #000000;
    font-size: 1.125em;
    border-radius: 5px;
    transition: 0.1s;
}
.header nav a:hover{
    background: #b9a833;
    /*para quando passar o mouse encima ele mudar de cor*/
}


#buscar{
    border-radius: 10px;
    width: 310px;
    height: 39px;
    justify-content: center;
    margin: 0px;


}

.isso{
    display: flex;
    align-items: center;
    justify-content: center ;   
    background-color: rgb(10, 10, 10); 
}